// Import all of Bootstrap's CSS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$primary: #181d63;
$secondary: #cde1f3;
$tertiary: #fcaf24;
$tertiary2: #ffa400;
$quaternary: #f2f5f8;

/** CUSTOM VARIABLES **/
/* colors */
$color-yellow: #FCB022;
$color-blue1: #262250;
$color-blue2: #9AC4E8;
$color-blue3: #5684C4;
$color-blue4: #cde1f3;

/* typography */
$font-title: 'Poppins', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;
$font-monospace: 'Source Code Pro', monospace;

/** BOOTSTRAP OVERRIDE **/
$enable-rounded: false;
$body-color: $primary;

$font-family-base: 'Source Sans Pro', sans-serif;
$font-family-sans-serif: $font-body;

/** HEIGHTS **/
$nav-height: 76px;
$footer-height: 76px;

@import "~bootstrap/scss/bootstrap";

html {
  color: $primary;
}

body {
  font-size: 1.2rem;
}

a {
  color: $tertiary;
}

a:hover {
  color: $tertiary;

}

a:active,
a .active {
  color: $tertiary2;
}



